# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
env/

# IDEs
.vscode/
.idea/

# Dataset & Results (Yüklenmemesi gereken büyük dosyalar)
dataset/
runs/
*.pt
*.jpg
*.png
*.txt
!README.md
!requirements.txt
